@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/custom/FileManager/FileManager.js")" type="text/javascript"></script>

<p>
   <input type="button" value="Open File Manager in Clent Mode" onclick="OpenFileMngr(@ViewBag.user_id,@ViewBag.fileRoot,
                                                                        @ViewBag.serverRoot,false,@ViewBag.useFileTable);" />

    <input type="button" value="Open File Manager in Server Mode" onclick="OpenFileMngr(@ViewBag.user_id,@ViewBag.fileRoot,
                                                                        @ViewBag.serverRoot,true,@ViewBag.useFileTable);" />

</p>
